---
http_interactions:
- request:
    method: get
    uri: http://api.saaspose.com/v1.0/storage/folder?appSID=80aa6098-da15-48c2-a879-8235d812e5bd&signature=VWheE46Q85XgfxZZ2Y2rxM3X4oA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Code":200,"Status":"OK","Files":[{"IsFolder":true,"ModifiedDate":"\/Date(1334601914919-0500)\/","Name":"test","Path":"\/\/test","Size":0},{"IsFolder":true,"ModifiedDate":"\/Date(1334602272513-0500)\/","Name":"test_data","Path":"\/\/test_data","Size":0},{"IsFolder":false,"ModifiedDate":"\/Date(1334687326669-0500)\/","Name":"saaspose_test.pdf","Path":"\/\/saaspose_test.pdf","Size":34253},{"IsFolder":false,"ModifiedDate":"\/Date(1334686346309-0500)\/","Name":"test.pdf","Path":"\/\/test.pdf","Size":34253}]}'
  recorded_at: Tue, 17 Apr 2012 19:18:47 GMT
recorded_with: VCR 2.0.1
