---
http_interactions:
- request:
    method: get
    uri: http://api.saaspose.com/v1.0/pdf/saaspose_test.pdf/pages?appSID=80aa6098-da15-48c2-a879-8235d812e5bd&signature=9emmU1WF1cGMWuuG5/5mGWRiv4s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><SaaSposeResponse xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Status>OK</Status><Pages><link
        href="http://api.saaspose.com/v1.0/pdf/saaspose_test.pdf/pages" rel="self"/><Page
        id="0"><link href="/1" rel="self"/></Page></Pages></SaaSposeResponse>
  recorded_at: Tue, 10 Jul 2012 21:08:16 GMT
recorded_with: VCR 2.1.1
