---
http_interactions:
- request:
    method: get
    uri: http://api.saaspose.com/v1.0/pdf/saaspose_test.pdf/pages?appSID=67a7d87f-2870-4aaf-a651-f5d185c98fd4&signature=+d6/IR99ikwFKleOrEeg/AHNbYE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Code":200,"Status":"OK","Pages":{"Links":[{"Href":"http:\/\/api.saaspose.com\/v1.0\/pdf\/saaspose_test.pdf\/pages","Rel":"self","Title":null,"Type":null}],"List":[{"Links":[{"Href":"\/1","Rel":"self","Title":null,"Type":null}],"Id":0,"Images":null,"Rectangle":null}]}}'
  recorded_at: Thu, 02 May 2013 13:25:45 GMT
recorded_with: VCR 2.1.1
