---
http_interactions:
- request:
    method: get
    uri: http://api.saaspose.com/v1.0/pdf/saaspose_test.pdf/pages?appSID=80aa6098-da15-48c2-a879-8235d812e5bd&signature=9emmU1WF1cGMWuuG5/5mGWRiv4s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Code":200,"Status":"OK","Pages":{"Links":[{"Href":"http:\/\/api.saaspose.com\/v1.0\/pdf\/saaspose_test.pdf\/pages","Rel":"self","Title":null,"Type":null}],"List":[{"Links":[{"Href":"\/1","Rel":"self","Title":null,"Type":null}],"Id":0,"Images":null}]}}'
  recorded_at: Fri, 13 Jul 2012 11:08:45 GMT
recorded_with: VCR 2.1.1
