---
http_interactions:
- request:
    method: get
    uri: http://api.saaspose.com/v1.0/storage/folder?appSID=67a7d87f-2870-4aaf-a651-f5d185c98fd4&signature=5ALyPxa3xsM30cwmK0HIHlD8wyw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Code":200,"Status":"OK","Files":[{"IsFolder":true,"ModifiedDate":"\/Date(1367498577072-0500)\/","Name":"test","Path":"\/\/test","Size":0},{"IsFolder":false,"ModifiedDate":"\/Date(1367498560166-0500)\/","Name":"saaspose_test.doc","Path":"\/\/saaspose_test.doc","Size":15360},{"IsFolder":false,"ModifiedDate":"\/Date(1367501165463-0500)\/","Name":"saaspose_test.pdf","Path":"\/\/saaspose_test.pdf","Size":34253},{"IsFolder":false,"ModifiedDate":"\/Date(1367498557994-0500)\/","Name":"saaspose_test.ppt","Path":"\/\/saaspose_test.ppt","Size":365568},{"IsFolder":false,"ModifiedDate":"\/Date(1367498563041-0500)\/","Name":"saaspose_test.xls","Path":"\/\/saaspose_test.xls","Size":10240}]}'
  recorded_at: Thu, 02 May 2013 13:25:59 GMT
recorded_with: VCR 2.1.1
